extends layoutes

block content
  br
  h1 #{title}
  table.table.table-striped.table-hover
    thead
      tr
        th Title
        th Amount
        th Category
        th Date
        th.text-end Actions  
    tbody
      if expenses && expenses.length > 0
        each expense, i in expenses
          tr
            td #{expense.title}
            td #{expense.amount}
            td #{expense.category}
            td #{new Date().toLocaleDateString()}
            td
              a.delete-expense.btn.btn-danger.float-end(href='#',data-id=expense._id,type='button') Delete
              a(href='/editExpense/'+expense._id, type='button',class='edit-button').btn.btn-warning.float-end.text-light.mr-3 Edit
      else 
        tr
          td.text-center(colspan=5) No Expenses Found   
    .addNew    
      a.btn.btn-primary(href='/add-expenses',type='submit',class='addExpenseButton' value='submit') Add New Expense
